/* https://colorhunt.co/palette/b7c4cfeee3cbd7c0ae967e76 */
* {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

.card {
  text-align: center;
  background-color: #B7C4CF;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.p-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.btn-primary {
  padding: 5 10 5;
  background-color: black;
  border-radius: 5px;
  color: white;
  border: none;
  display: inline-block;
}

.btn-primary:hover {
  background-color: rgb(94, 93, 93);
}

.avatar {
  border-radius: 50%;
  width: 100px
}

.ul-inline {
  padding: 0px;
}

.ul-inline li {
  list-style: none;
  display: inline-block;
  width: 80px;
  font-size: 40px
}

.icons-colored {
  color: black;
}

.icons-colored:hover {
  color: rgb(94, 93, 93);
}

#logo-finstreet {
  width: 25;
}
